<div class="flex-grid-thirds">
  <div class="col">
    <h2>Products</h2>
    <p>Manage your products here.</p>
    <button class="button"><span><a href="/products" style="color:white;">Go to Products</a></span></button>
  </div>

  <div class="col">
    <h2>Manufacturers</h2>
    <p>Manage your manufacturers here.</p>
    <button class="button"><span><a href="/manufacturers" style="color:white;">Go to Manufacturers</a></span></button>
  </div>

  <div class="col">
    <h2>Inventory</h2>
    <p>Manageyour stock inventory here.</p>
    <button class="button"><a href="/inventory" style="color:white;">Go to Inventory</a></button>
  </div>
</div>
