<div class="row">
  <div class="column side">
    <h2>Products</h2>
    <p>You can add, edit and delete your products here.</p>
    <button class="button"><span><a href="/products">Go to Products</a></span></button>
  </div>

  <div class="column middle">
    <h2>Manufacturers</h2>
    <p>You can add, edit and delete your manufacturers here.</p>
    <button class="button"><span><a href="/manufacturers">Go to Manufacturers</a></span></button>
  </div>

  <div class="column side">
    <h2>Inventory</h2>
    <p>You can view your entire stock inventory here.</p>
    <button class="button"><span><a href="/products">Go to Inventory</a></span></button>
  </div>
</div>
