<div class="flex-grid-thirds">
  <div class="col">
    <h2>Products</h2>
    <img class="images-center" src="../images/product_blk.png"/>
    <button class="button"><span><a href="/products" style="color:white;">Go to Products</a></span></button>
  </div>

  <div class="col">
    <h2>Manufacturers</h2>
    <img class="images-center" src="../images/manufacturer_blk.png"/>
    <button class="button"><span><a href="/manufacturers" style="color:white;">Go to Manufacturers</a></span></button>
  </div>

  <div class="col">
    <h2>Inventory</h2>
    <img class="images-center" src="../images/inventory_blk.png"/>
    <button class="button"><a href="/inventory" style="color:white;">Go to Inventory</a></button>
  </div>
</div>
