<div class="flex-grid-thirds">
  <div class="col">
    <h2>Products</h2>
    <img class="images-center" src="../images/product_blk.png"/>
    <a href="/products" class="button">View Products</a>
  </div>

  <div class="col">
    <h2>Manufacturers</h2>
    <img class="images-center" src="../images/manufacturer_blk.png"/>
    <a href="/manufacturers" class="button">View Manufacturers</a>
  </div>

  <div class="col">
    <h2>Inventory</h2>
    <img class="images-center" src="../images/inventory_blk.png"/>
    <a href="/inventory" class="button">View Inventory</a>
  </div>
</div>
