<h1>Manufacturers</h1>

<div class="row">
  <button class="button"><span><a href="/manufacturers/new" style="color:white;">Add new manufacturer</a></span></button>
</div>

<div class="row">
  <% for manufacturer in @manufacturers %>
  <div class="col-xs-4">
    <div class="box"><p><a href="/manufacturers/<%= manufacturer.id %>"><%= manufacturer.contact_name %></a></p></div>
    <div class="box"><p><%= manufacturer.contact_address %></p></div>
    <div class="box"><p><%= manufacturer.contact_number %></p></div>
  </div>
  <% end %>
</div>
