<h1>Add a new manufacturer:</h1>
<form action="/manufacturers" method="post">
    <div>
      <label for="name">Manufacturer Name:</label>
      <input type="text" name="contact_name" id="name" style="color:black;" autofocus required/>
    </div>

    <div>
      <label for="price">Address:</label>
      <input type="text" name="contact_address" id="contact_address" style="color:black;" required/>
    </div>

    <div>
      <label for="price">Telephone number:</label>
      <input type="text" name="contact_number" id="contact_number" style="color:black;" required/>
    </div>

    <div>
      <label for="quantity">Cost:</label>
      <input type="text" name="list_cost" id="list_cost" style="color:black;" required/>
    </div>

    <div>
      <input type="submit" class="button" style="color:white; value="Add Manufacturer"/>
    </div>
