<h1>Products</h1>

<button class="button"><span><a href="/categories/new" style="color:white;">Add new category</a></span></button>
<button class="button"><span><a href="/products/new" style="color:white;">Add new product</a></span></button>

<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-0pky">Product Name:</th>
    <th class="tg-0lax">Product Type:</th>
    <th class="tg-0lax">List Price:</th>
    <th class="tg-0lax"></th>
  </tr>
  <% for product in @products %>
  <tr>
    <td class="tg-0lax"><a href="/products/<%= product.id %>"><%= product.product_name %></a></td>
    <td class="tg-0lax"><p><%= product.get_category %> </p></td>
    <td class="tg-0lax"><p>£<%= product.list_price %> </td>
      <td class="tg-0lax"></td>
    </tr>
    <% end %>
  </table>
</div>
