<h1>Products</h1>

<div class="row">
  <a href="/products/new" class="button">Add Product</a>
</div>

<div class="row">
  <% for product in @products %>
  <div class="col-xs-4  border-shadow-left">
    <div class="box"><p><a href="/products/<%= product.id %>"><%= product.product_name %></a></p></div>
    <div class="box"><p><%= product.description %></p></div>
    <div class="box"><p>£<%= product.list_price %></p></div>
  </div>
  <% end %>
</div>
