<h1>Products</h1>

<div class="row">
  <button class="button"><a href="/products/new" style="color:white;">Add new product</a></button>
</div>

<div class="row">
  <% for product in @products %>
  <div class="col-xs-4">
    <div class="box"><p><a href="/products/<%= product.id %>"><%= product.product_name %></a></p></div>
    <div class="box"><p>Category: <%= product.get_category %></p></div>
    <div class="box"><p>Cost: £<%= product.list_price %></p></div>
  </div>
  <% end %>
</div>
