<h1>Products</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Description</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td>|</td>
    <td><%= product.description %></td>
  </tr>
  <% end %>
</table>
