<h1>Add a new product:</h1>
<form action="/products" method="post">
  <div class="form-wrapper">
    <div>
    <label>
      Select a Product:
      <select id="product_type" name="product_type">
        <option value="Banjo">Banjo</option>
        <option value="Strings">Strings</option>
        <option value="Bridge">Bridge</option>
        <option value="Tone Ring">Tone Ring</option>
        <option value="Picks">Picks</option>
      </select>
    </label>
  </div>

    <div>
      <label for="name">Product Name:</label>
      <input type="text" name="name" id="name" autofocus required/>
    </div>

    <div>
      <label for="description">Description:</label>
      <input type="text" name="description" id="description" required/>
    </div>

    <div>
      <label for="price">Price:</label>
      <input type="text" name="price" id="price" required/>
    </div>

    <div>
      <label for="quantity">Quantity:</label>
      <input type="text" name="quantity" id="quantity" required/>
    </div>

    <div>
      <input type="submit" class="button" value="Add Product"/>
    </div>
  </div>
